USE [QuitSmokingSupport]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminProfile]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfile](
	[admin_id] [int] NOT NULL,
	[permission_level] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[coach_id] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](20) NULL,
	[notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badge]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badge](
	[badge_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[icon_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[badge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NULL,
	[receiver_id] [int] NULL,
	[content] [varchar](max) NULL,
	[sent_at] [datetime] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachProfile]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachProfile](
	[coach_id] [int] NOT NULL,
	[specialization] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityInteraction]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityInteraction](
	[interaction_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[user_id] [int] NULL,
	[comment_content] [varchar](max) NULL,
	[commented_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[interaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityPost]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityPost](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[content] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[Title] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[type] [varchar](20) NULL,
	[content] [varchar](max) NULL,
	[submitted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalPlan]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalPlan](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[start_date] [date] NULL,
	[target_quit_date] [date] NULL,
	[personal_motivation] [varchar](max) NULL,
	[use_template] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalTemplate]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalTemplate](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberGoal]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGoal](
	[member_goal_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[goal_id] [int] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[member_goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberProfile]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberProfile](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[smoking_status] [varchar](20) NULL,
	[quit_attempts] [int] NULL,
	[experience_level] [int] NULL,
	[previous_attempts] [varchar](max) NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK__MemberPr__B29B85346E9D0FAF] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberTrigger]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTrigger](
	[member_trigger_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[trigger_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[member_trigger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[content] [varchar](max) NULL,
	[type] [varchar](20) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[OtpCode] [varchar](255) NULL,
	[expires_at] [datetime] NOT NULL,
	[is_used] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressLog]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[log_date] [date] NULL,
	[cigarettes_smoked] [int] NULL,
	[mood] [varchar](50) NULL,
	[trigger] [varchar](max) NULL,
	[notes] [varchar](max) NULL,
	[price_per_pack] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking](
	[ranking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[score] [int] NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ranking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemReport]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemReport](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reporter_id] [int] NULL,
	[report_type] [varchar](20) NULL,
	[reported_at] [datetime] NULL,
	[details] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TriggerFactor]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriggerFactor](
	[trigger_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[trigger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[address] [varchar](255) NULL,
	[password_hash] [varchar](255) NULL,
	[display_name] [varchar](100) NULL,
	[user_type] [varchar](20) NULL,
	[avatar_url] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBadge]    Script Date: 7/1/2025 12:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBadge](
	[user_id] [int] NOT NULL,
	[badge_id] [int] NOT NULL,
	[earned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[badge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250623095438_MakeOtpCodeNullable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250623100420_ForceOtpNullableFix', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250625054618_UpdateCommunityPostRelation', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[CommunityPost] ON 

INSERT [dbo].[CommunityPost] ([post_id], [user_id], [content], [created_at], [Title], [ImageUrl]) VALUES (12, 3, N'ssssss', CAST(N'2025-06-29T08:13:14.873' AS DateTime), N'ssss', NULL)
INSERT [dbo].[CommunityPost] ([post_id], [user_id], [content], [created_at], [Title], [ImageUrl]) VALUES (13, 1, N'adsadsada', CAST(N'2025-06-29T08:13:35.523' AS DateTime), N'sadasdsad', NULL)
INSERT [dbo].[CommunityPost] ([post_id], [user_id], [content], [created_at], [Title], [ImageUrl]) VALUES (14, 1, N'thang 9', CAST(N'2025-06-30T07:30:04.477' AS DateTime), N'moit ạo', N'string')
SET IDENTITY_INSERT [dbo].[CommunityPost] OFF
GO
SET IDENTITY_INSERT [dbo].[GoalPlan] ON 

INSERT [dbo].[GoalPlan] ([plan_id], [member_id], [start_date], [target_quit_date], [personal_motivation], [use_template]) VALUES (3, 1, CAST(N'2025-06-27' AS Date), CAST(N'2025-07-11' AS Date), N'phai bo thuoc', 1)
SET IDENTITY_INSERT [dbo].[GoalPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberProfile] ON 

INSERT [dbo].[MemberProfile] ([member_id], [smoking_status], [quit_attempts], [experience_level], [previous_attempts], [user_id]) VALUES (1, N'current smoking', 3, 2, N'u?ng thu?c', 1)
INSERT [dbo].[MemberProfile] ([member_id], [smoking_status], [quit_attempts], [experience_level], [previous_attempts], [user_id]) VALUES (2, N'Tu current', 2, 3, N'gi?m theo m?i ngày', 3)
SET IDENTITY_INSERT [dbo].[MemberProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetToken] ON 

INSERT [dbo].[PasswordResetToken] ([token_id], [user_id], [OtpCode], [expires_at], [is_used], [created_at]) VALUES (1, 1, N'432994', CAST(N'2025-06-23T09:24:03.593' AS DateTime), 0, CAST(N'2025-06-23T09:14:03.593' AS DateTime))
INSERT [dbo].[PasswordResetToken] ([token_id], [user_id], [OtpCode], [expires_at], [is_used], [created_at]) VALUES (2, 1, N'711838', CAST(N'2025-06-23T09:32:21.353' AS DateTime), 0, CAST(N'2025-06-23T09:22:21.353' AS DateTime))
INSERT [dbo].[PasswordResetToken] ([token_id], [user_id], [OtpCode], [expires_at], [is_used], [created_at]) VALUES (3, 1, N'911182', CAST(N'2025-06-23T09:34:52.160' AS DateTime), 0, CAST(N'2025-06-23T09:24:52.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[PasswordResetToken] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgressLog] ON 

INSERT [dbo].[ProgressLog] ([log_id], [member_id], [log_date], [cigarettes_smoked], [mood], [trigger], [notes], [price_per_pack]) VALUES (3, 1, CAST(N'2025-06-28' AS Date), 5, N'normal', N'work stress', N'oke', CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ProgressLog] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [username], [email], [phone_number], [address], [password_hash], [display_name], [user_type], [avatar_url], [is_active], [created_at], [updated_at]) VALUES (1, N'tam', N'vochitam112004@gmail.com', N'0889462565', N'LONG AN', N'$2a$11$AAHqf68Y49y9yZnvTWEeVu3tcm0fecUpIksnrvVWzaAxVQFhzX5UC', N'VO CHI TAM', N'Member', NULL, 1, CAST(N'2025-06-23T07:43:03.353' AS DateTime), CAST(N'2025-06-23T10:31:07.383' AS DateTime))
INSERT [dbo].[User] ([user_id], [username], [email], [phone_number], [address], [password_hash], [display_name], [user_type], [avatar_url], [is_active], [created_at], [updated_at]) VALUES (2, N'phong', N'phingtran93@gmail.com', N'0908460204', N'Binh Duong', N'$2a$11$8rTLJephYCPtlkkuFDnt0O6acubODETysiOnzEnX/v0PB2a7b51Ta', N'hcm', N'Member', NULL, 1, CAST(N'2025-06-23T09:30:41.077' AS DateTime), CAST(N'2025-06-23T09:30:41.077' AS DateTime))
INSERT [dbo].[User] ([user_id], [username], [email], [phone_number], [address], [password_hash], [display_name], [user_type], [avatar_url], [is_active], [created_at], [updated_at]) VALUES (3, N'tu', N'dangthanhtu110104@gmail.com', N'0799747272', N'biên hòa', N'$2a$11$Zi0LE3VXhn0Sr5AhLffpXew3k9hELbEFQaz1tlw4NrDSU/qFznnpq', N'tu pro', N'Member', NULL, 1, CAST(N'2025-06-24T06:43:47.167' AS DateTime), CAST(N'2025-06-24T06:43:47.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CommunityInteraction] ADD  DEFAULT (getdate()) FOR [commented_at]
GO
ALTER TABLE [dbo].[CommunityPost] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[MemberProfile] ADD  CONSTRAINT [DF__MemberPro__user___14270015]  DEFAULT ((0)) FOR [user_id]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SystemReport] ADD  DEFAULT (getdate()) FOR [reported_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[UserBadge] ADD  DEFAULT (getdate()) FOR [earned_at]
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([coach_id])
REFERENCES [dbo].[CoachProfile] ([coach_id])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__membe__46E78A0C] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK__Appointme__membe__46E78A0C]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CoachProfile]  WITH CHECK ADD FOREIGN KEY([coach_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CommunityInteraction]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[CommunityPost] ([post_id])
GO
ALTER TABLE [dbo].[CommunityInteraction]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CommunityPost]  WITH CHECK ADD  CONSTRAINT [FK_CommunityPost_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityPost] CHECK CONSTRAINT [FK_CommunityPost_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[GoalPlan]  WITH CHECK ADD  CONSTRAINT [FK__GoalPlan__member__300424B4] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[GoalPlan] CHECK CONSTRAINT [FK__GoalPlan__member__300424B4]
GO
ALTER TABLE [dbo].[MemberGoal]  WITH CHECK ADD FOREIGN KEY([goal_id])
REFERENCES [dbo].[GoalPlan] ([plan_id])
GO
ALTER TABLE [dbo].[MemberGoal]  WITH CHECK ADD  CONSTRAINT [FK__MemberGoa__membe__32E0915F] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[MemberGoal] CHECK CONSTRAINT [FK__MemberGoa__membe__32E0915F]
GO
ALTER TABLE [dbo].[MemberProfile]  WITH CHECK ADD  CONSTRAINT [FK__MemberPro__membe__286302EC] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberProfile] CHECK CONSTRAINT [FK__MemberPro__membe__286302EC]
GO
ALTER TABLE [dbo].[MemberTrigger]  WITH CHECK ADD  CONSTRAINT [FK__MemberTri__membe__38996AB5] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[MemberTrigger] CHECK CONSTRAINT [FK__MemberTri__membe__38996AB5]
GO
ALTER TABLE [dbo].[MemberTrigger]  WITH CHECK ADD FOREIGN KEY([trigger_id])
REFERENCES [dbo].[TriggerFactor] ([trigger_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__membe__403A8C7D] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__membe__403A8C7D]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[ProgressLog]  WITH CHECK ADD  CONSTRAINT [FK__ProgressL__membe__3C69FB99] FOREIGN KEY([member_id])
REFERENCES [dbo].[MemberProfile] ([member_id])
GO
ALTER TABLE [dbo].[ProgressLog] CHECK CONSTRAINT [FK__ProgressL__membe__3C69FB99]
GO
ALTER TABLE [dbo].[Ranking]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[SystemReport]  WITH CHECK ADD FOREIGN KEY([reporter_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[UserBadge]  WITH CHECK ADD FOREIGN KEY([badge_id])
REFERENCES [dbo].[Badge] ([badge_id])
GO
ALTER TABLE [dbo].[UserBadge]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
